<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Página Pessoal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/estilo/estilo.css'>
    <script src='main.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mogra&display=swap" rel="stylesheet">
</head>
<body>
  

    <h1 >   Formulário   </h1>
  
       <form class='formulario' method="post" action="/pessoas/adicionar" > 
        <div class="center">   <label>  Nome: </label>
        <input type="text" name="nome" placeholder="Digite seu nome..."><br/><br/> </div>
     <div class="center">
        <label> Sobrenome: </label>
        <input type="text" name="sobrenome"  placeholder="Digite seu sobrenome..."><br/><br/>
     </div>
     <div class="center">
         <label >  Idade: </label>
        <input type="number" name="idade" placeholder="Insira sua idade..."><br/>
     </div><br>
     <div >  <input type="submit" value="Enviar"class="inputs2">  </div>

       

        <a class="inputs" href="/pessoas">Cancelar</a>
        
       </form>
 
 
</body>
</html>



