<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/estilo/estilo.css'>
    <script src='main.js'></script>
</head>

<article>
<body class="body">
  
     <a href="/pessoas/criar" class="cadastrar">Clique para cadastrar algo</a><br>
     <img src="https://64.media.tumblr.com/c9b266f89bbf4780d8cd487cac06c5a8/a8e7100415ed3a4e-19/s500x750/fd40dfb2ba48640641b7fa9b0a1a9bd1faa395f0.gifv"/>
     <div class="cadastroo">
    <% pessoas.forEach((pessoa) => { %>
        <div class="personalizar"><%= pessoa.nome %> </div>
        <div class="personalizar"><%= pessoa.sobrenome %> </div>
        <div class="personalizar">  <%= pessoa.idade %></div>
        <div><a href="/pessoas/delete?id=<%= pessoa.id %>" class="excluir">Excluir </a></div>
    <% }) %>
    </div>
</article>
</body>
</html>